In [1]:
import pandas as pd    ###dataread###（1〜4行目と出力の上5行くらいを図示）
data  = pd.read_csv("sensor_data_200.txt", delimiter=" ", 
                    header=None, names = ("date","time","ir","lidar"))
data

           date    time   ir  lidar
0      20180122   95819  305    214
1      20180122   95822  299    211
2      20180122   95826  292    199
3      20180122   95829  321    208
4      20180122   95832  298    212
...         ...     ...  ...    ...
58983  20180124  120023  313    208
58984  20180124  120026  297    200
58985  20180124  120030  323    204
58986  20180124  120033  326    207
58987  20180124  120036  321    208

[58988 rows x 4 columns]

In [2]:
from scipy.stats import norm
import math

mu = data["lidar"].mean()
var = data["lidar"].var()

print("平均:",mu)
print("不偏分散:",var)

p = norm(loc=mu, scale=math.sqrt(var))

平均: 209.73713297619855
不偏分散: 23.408106598554504

In [3]:
import numpy as np

def sampling(n):
    return p.rvs(size=n)

def sampling_var(n): #n個サンプリングして標本分散を返す関数
    return np.var( sampling(n) ) 

def unbiased_var(n): #n個サンプリングして不偏分散を返す関数
    return np.var( sampling(n) , ddof=1) 

print("標本数3")
print("標本分散の平均:", np.mean([sampling_var(3) for i in range(10000)]))
print("不偏分散の平均:", np.mean([unbiased_var(3) for i in range(10000)]))

print("標本数1000")
print("標本分散の平均:", np.mean([sampling_var(1000) for i in range(10000)]))
print("不偏分散の平均:", np.mean([unbiased_var(1000) for i in range(10000)]))

標本数3
標本分散の平均: 15.446949826205586
不偏分散の平均: 22.894013072630415
標本数1000
標本分散の平均: 23.38913836162076
不偏分散の平均: 23.41528262195466